<!DOCTYPE html>
<html>
  <body>
    <video id="webrtc" playsinline autoplay width="200" height="auto" muted></video>
    <button id="open">open</button>
    <button id="stop">stop</button>
    <button id="openLive">openLive</button>
  </body>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script type="module">
    import flv from '../node_modules/flv.js'
    import {webrtcSurport, openVideo} from '../node_modules/video-rtp/lib/index'
    console.log('webrtcSurport, openVideo', webrtcSurport, openVideo)
    
  </script>
  

</html>
